@using ReportViewerForMvc;
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";

    //string[] computer_name = System.Net.Dns.GetHostEntry(Request.ServerVariables["REMOTE_ADDR"]).HostName.Split(new Char[] { '.' });
    //String ecname = System.Environment.MachineName;
    //ViewBag.ComputerName = computer_name[0].ToString();
}

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h2>@ViewBag.PageHeader</h2>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3 class="theme-fore-color">Akaal WebSoft Pvt. Ltd.</h3>
                        <ul class="nav navbar-right panel_toolbox"></ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                                        <p>
                                            286, Sahibzada Jujhar Singh Avenue,
                                            <br />
                                            Ajnala Road, Amritsar - 143001
                                            <br />
                                            Punjab, India
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            &nbsp;
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            &nbsp;
                        </div>
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">

                            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">

                                <h4><b>For Support, Please contact on following numbers:</b></h4>


                                <div class="row">
                                    <div class="col-md-4 col-lg-3 col-sm-5 col-xs-12">
                                        Office
                                    </div>
                                    <div class="col-md-8 col-lg-9 col-sm-7 col-xs-12">
                                        +91-7527072201-05
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-lg-3 col-sm-5 col-xs-12">
                                    </div>
                                    <div class="col-md-8 col-lg-9 col-sm-7 col-xs-12">
                                        +91-7527072212
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-lg-3 col-sm-5 col-xs-12">
                                    </div>
                                    <div class="col-md-8 col-lg-9 col-sm-7 col-xs-12">
                                        +91-9501524455
                                    </div>
                                </div>

                                <br />

                                <div class="row">
                                    <div class="col-md-4 col-lg-3 col-sm-5 col-xs-12">
                                        Inderjit Singh
                                    </div>

                                    <div class="col-md-8 col-lg-9 col-sm-7 col-xs-12">
                                        +91-7527072211
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-lg-3 col-sm-5 col-xs-12">
                                        Amanjit Singh
                                    </div>

                                    <div class="col-md-8 col-lg-9 col-sm-7 col-xs-12">
                                        +91-9501624455
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-lg-3 col-sm-5 col-xs-12">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-8 col-lg-9 col-sm-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-lg-3 col-sm-5 col-xs-12">
                                        &nbsp;
                                    </div>
                                    <div class="col-md-8 col-lg-9 col-sm-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4 col-lg-3 col-sm-5 col-xs-12">
                                        Email
                                    </div>
                                    <div class="col-md-8 col-lg-9 col-sm-7 col-xs-12">
                                        support@akaalwebsoft.com
                                    </div>
                                </div>
                                <br />

                                <hr />

                                <br />

                                <div class="row">
                                    <div class="col-md-4 col-lg-3 col-sm-5 col-xs-12">
                                        Harjit Singh
                                    </div>
                                    <div class="col-md-8 col-lg-9 col-sm-7 col-xs-12">
                                        +91-9814167725
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 col-sm-6">
                                <div class="hidden-xs">
                                    <img src="~/images/contact.png" height="220" width="220" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script
{
    <script type="text/javascript">
        //var computerName = '@ViewBag.ComputerName';
        //alert('Computer Name: ' + computerName);
    </script>
}