@model  BusinessObjects.Common.UserMaster
@{
    ViewBag.Title = "Password Changed Successfully";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 login-bx">

            <div class="col-lg-6 right-border d-none" align="center">
                <img src="~/Content/Images/home_page_logo.png" class="img-responsive" />
                <div class="p-md">

                    Email: <a href="mailto:support@akaalwebsoft.com">support@akaalwebsoft.com</a><br />

                    <a href="http://www.webschoolmanager.com/" target="_blank">www.webschoolmanager.com</a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="heading">Reset Password</div>

                    @WebSchoolManager.App_Start.Common.GetRecordStatusMessage("RPS")
                
                <div class="pad-top-20 pad-btm-20">
                    <input type="button" class="login-btn" value="Login" onclick="location.href = '@Url.Action("Index", "Home")'"  />
                </div>

            </div>

        </div>

        <div class="col-lg-2"></div>
        <div class="clear"></div>
        <div class="text-center p-md3">
            © Web School Manager All Rights Reserved.<br />
            Powered By: <a href="http://akaalwebsoft.com/" target="_blank">Akaal WebSoft Pvt. Ltd.</a>
        </div>

    </div>
</div>

