@media print,screen {
      @page {
        size: auto;
        margin: 0;
        -webkit-print-color-adjust: exact;
    }

    .instituteHead {
        margin: 0px !important;
        padding: 0px !important;
    }

    h3 {
        margin: 5px 0px 0px 0px !important;
        padding: 0px !important;
        font-size: 9pt;
        font-weight: normal;
    }

    table.pad-10 tr td p {
        margin: -3px 0px 0px 0px !important;
        padding: 0px 0px 0px 0px !important;
        font-size: 9pt;
        font-weight: normal;
    }

    .table-style {
        font-size: 9pt!important;
        border: solid 1px #000;
        position:relative;
    }

    .pad-10 {
        padding: 5px 10px;
        font-size: 9pt!important;
    }

    .pad-10 tr td {
        padding-bottom:1px;
    }

    .table-row td {
        border-bottom: solid 1px #9e9e9e;
        padding: 1px 5px 1px 0px;
        font-size: 8pt!important;
    }
         
    .table-row th {
        padding: 1px 0 1px 0;
        border-top: solid 2px #000;
        border-bottom: solid 2px #000;
        padding-right: 5px;
        font-size: 9pt!important;

    }

    .pad-10-left tr td {
        padding-left: 10px !important;
        padding-right: 10px !important;
        font-size: 9pt !important;
        border-bottom:none !important;
    }

    .float-left {
        float: left;
        position: absolute;
    }

    body {
        margin-left: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        font-family: 'Open Sans', sans-serif; 
        -webkit-print-color-adjust: exact;
    }

    .small {
        padding: 3px 0px 0px 10px; 
        font-size: 6pt;
        font-weight: normal;
    }

    .dashed-line {
        border-bottom: dashed 1px #333;
    }

    .solid-line {
        border-bottom: solid 1px #333;
    }

    .subHead {
        font-weight:bold;
        font-size:11pt;
        text-decoration:underline;
        padding-bottom:5px!important;
    }
}
