
*
{
margin:0;
padding:0;
font-family: 'PT Sans', sans-serif;
}

.body-bg{background-color:#f4f4f4;}
.clear{clear:both;}
.h10{height:10px;}
.h15{height:15px;}
.h20{height:20px;}
.h30{height:30px;}
.h40{height:40px;}
.h50{height:50px;}
.float-left{float:left}
.float-right{float:right}
.font-10{font-size:10px!important}
.font-11{font-size:11px!important}
.font-12{font-size:12px!important}
.font-13{font-size:13px!important}
.font-14{font-size:14px!important}
.font-15{font-size:15px!important}
.font-16{font-size:16px!important}
.font-18{font-size:18px!important}
.font-20{font-size:20px!important}
.font-22{font-size:22px!important}
.font-24{font-size:24px!important}
.font-26{font-size:26px!important}
.font-28{font-size:28px!important}
.font-30{font-size:30px!important}
.font-32{font-size:32px!important}
.font-34{font-size:34px!important}
.font-36{font-size:36px!important}
.font-38{font-size:38px!important}
.font-40{font-size:40px!important}
.font-45{font-size:45px!important}
.font-40{font-size:40px!important}
.font-50{font-size:50px!important}
.font-55{font-size:55px!important}
.font-60{font-size:60px!important}
.font-70{font-size:70px!important}
.font-80{font-size:80px!important}
.font-90{font-size:90px!important}
.font-100{font-size:100px!important}
.font-150{font-size:150px!important}
.tx-transform{text-transform:uppercase}
.font-w-1{font-weight:100}
.font-w-2{font-weight:200}
.font-w-6{font-weight:600}
.font-w-8{font-weight:800}
.p-0{padding:0!important}
.p-5{padding:5px!important}
.p-10{padding:10px!important}
.p-15{padding:15px!important}
.p-20{padding:20px!important}
.p-25{padding:25px!important}
.p-30{padding:30px!important}
.p-35{padding:35px!important}
.p-36{padding:36px!important}
.p-40{padding:40px!important}
.p-50{padding:50px!important}
.p-60{padding:60px!important}
.pt-0{padding-top:0!important}
.pt-5{padding-top:5px!important}
.pt-10{padding-top:10px!important}
.pt-15{padding-top:15px!important}
.pt-20{padding-top:20px!important}
.pt-25{padding-top:25px!important}
.pt-30{padding-top:30px!important}
.pt-40{padding-top:40px!important}
.pt-45{padding-top:45px!important}
.pt-50{padding-top:50px!important}
.pt-60{padding-top:60px!important}
.pt-70{padding-top:70px!important}
.pt-80{padding-top:80px!important}
.pt-90{padding-top:90px!important}
.pt-100{padding-top:100px!important}
.pb-0{padding-bottom:0!important}
.pb-5{padding-bottom:5px!important}
.pb-10{padding-bottom:10px!important}
.pb-15{padding-bottom:15px!important}
.pb-20{padding-bottom:20px!important}
.pb-25{padding-bottom:25px!important}
.pb-28{padding-bottom:28px!important}
.pb-30{padding-bottom:30px!important}
.pb-40{padding-bottom:40px!important}
.pb-50{padding-bottom:50px!important}
.pb-60{padding-bottom:60px!important}
.pb-70{padding-bottom:70px!important}
.pb-80{padding-bottom:80px!important}
.pb-90{padding-bottom:90px!important}
.pb-100{padding-bottom:100px!important}
.pr-0{padding-right:0!important}
.pr-5{padding-right:5px!important}
.pr-10{padding-right:10px!important}
.pr-15{padding-right:15px!important}
.pr-20{padding-right:20px!important}
.pr-30{padding-right:30px!important}
.pr-40{padding-right:40px!important}
.pr-50{padding-right:50px!important}
.pr-60{padding-right:60px!important}
.pr-70{padding-right:70px!important}
.pr-80{padding-right:80px!important}
.pr-90{padding-right:90px!important}
.pr-100{padding-right:100px!important}
.pl-0{padding-left:0!important}
.pl-5{padding-left:5px!important}
.pl-10{padding-left:10px!important}
.pl-15{padding-left:15px!important}
.pl-20{padding-left:20px!important}
.pl-30{padding-left:30px!important}
.pl-40{padding-left:40px!important}
.pl-50{padding-left:50px!important}
.pl-60{padding-left:60px!important}
.pl-70{padding-left:70px!important}
.pl-80{padding-left:80px!important}
.pl-90{padding-left:90px!important}
.pl-100{padding-left:100px!important}
.plr-10{padding-left:10px!important;padding-right:10px!important}
.ptb-0{padding-top:0!important;padding-bottom:0!important}
.ptb-5{padding-top:5px!important;padding-bottom:5px!important}
.ptb-10{padding-top:10px!important;padding-bottom:10px!important}
.ptb-15{padding-top:15px!important;padding-bottom:15px!important}
.ptb-20{padding-top:20px!important;padding-bottom:20px!important}
.ptb-30{padding-top:30px!important;padding-bottom:30px!important}
.ptb-40{padding-top:40px!important;padding-bottom:40px!important}
.ptb-50{padding-top:50px!important;padding-bottom:50px!important}
.ptb-60{padding-top:60px!important;padding-bottom:60px!important}
.ptb-70{padding-top:70px!important;padding-bottom:70px!important}
.ptb-80{padding-top:80px!important;padding-bottom:80px!important}
.ptb-90{padding-top:90px!important;padding-bottom:90px!important}
.ptb-100{padding-top:100px!important;padding-bottom:100px!important}
.m-0{margin:0!important}
.m-5{margin:5px!important}
.m-10{margin:10px!important}
.m-15{margin:15px!important}
.m-20{margin:20px!important}
.m-30{margin:30px!important}
.m-40{margin:30px!important}
.mb-0{margin-bottom:0!important}
.mb-5{margin-bottom:5px!important}
.mb-10{margin-bottom:10px!important}
.mb-15{margin-bottom:15px!important}
.mb-20{margin-bottom:20px!important}
.mb-30{margin-bottom:30px!important}
.mb-40{margin-bottom:40px!important}
.mt-0{margin-bottom:0!important}
.mt-5{margin-top:5px!important}
.mt-10{margin-top:10px!important}
.mt-15{margin-top:15px!important}
.mt-20{margin-top:20px!important}
.mt-30{margin-top:30px!important}
.mt-40{margin-top:40px!important}
.ml-0{margin-left:0!important}
.ml-5{margin-left:5px!important}
.ml-10{margin-left:10px!important}
.ml-15{margin-left:15px!important}
.ml-20{margin-left:20px!important}
.ml-30{margin-left:30px!important}
.ml-40{margin-left:40px!important}
.ml-50{margin-left:50px!important}
.ml-55{margin-left:55px!important}
.ml-60{margin-left:60px!important}
.mr-0{margin-right:0!important}
.mr-5{margin-right:5px!important}
.mr-10{margin-right:10px!important}
.mr-15{margin-right:15px!important}
.mr-20{margin-right:20px!important}
.mr-30{margin-right:30px!important}
.mr-40{margin-right:40px!important}
.mtb-0{margin-top:0!important;margin-bottom:0!important}
.mtb-5{margin-top:5px!important;margin-bottom:5px!important}
.mtb-10{margin-top:10px!important;margin-bottom:10px!important}
.mtb-15{margin-top:15px!important;margin-bottom:15px!important}
.mtb-20{margin-top:20px!important;margin-bottom:20px!important}
.mtb-30{margin-top:30px!important;margin-bottom:30px!important}
.mtb-40{margin-top:40px!important;margin-bottom:40px!important}
.mtb-50{margin-top:50px!important;margin-bottom:50px!important}
.mtb-60{margin-top:60px!important;margin-bottom:60px!important}
.mtb-70{margin-top:70px!important;margin-bottom:70px!important}
.mtb-80{margin-top:80px!important;margin-bottom:80px!important}
.mtb-90{margin-top:90px!important;margin-bottom:90px!important}
.mtb-100{margin-top:100px!important;margin-bottom:100px!important}
.ln-h-23{line-height:23px}
.ln-h-30{line-height:30px}
.ln-h-40{line-height:40px}
.ln-h-50{line-height:50px}
.ln-h-60{line-height:60px}
.ln-h-70{line-height:70px}
.contact
{
background-color:#FFFFFF;
border-radius:5px;
border:solid 1px #d5d5d5;
padding:15px;
-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.30);
-moz-box-shadow:    0px 0px 3px 0px rgba(0, 0, 0, 0.30);
box-shadow:         0px 0px 3px 0px rgba(0, 0, 0, 0.30);
}

.contact h1
{
font-size:16px;
color:#000000;
margin-bottom:5px;
line-height:25px;
font-weight:500;
text-align:left;
margin-top:0;
}

@media only screen and (max-width: 480px) {
  .contact h1
{
font-size:13px;
margin-top:0;

}
.mt-20{margin-top:0px!important;}
.mt-10{margin-top:0px!important;}
.mt-5{margin-top:0px!important;}
}



