<script type="text/x-template" id="pager-template">
    <h2>Hello</h2>
    <!--<nav aria-label="Page navigation example">
        <div v-if="pager.totalPages>1">
            <ul class="pagination">
                <li v-if="pager.currentPage > 1" class="page-item">
                    <a class="page-link" data-page='1'>First</a>
                </li>
                <li v-if="pager.currentPage > 1" class="page-item">
                    <a class="page-link" data-page="pager.currentPage-1">Previous</a>
                </li>
                <div v-for="n in getNumbers(pager.startPage,pager.endPage)">
                    <li v-if="n==pager.currentPage" class="page-item active"><span class="page-link">{{n}}<span class="sr-only">(current)</span></span></li>
                    <li v-if="n!=pager.currentPage" class="page-item">
                        <a class="page-link" :data-page="n">{{n}}</a>
                    </li>
                </div>
                <li v-if="pager.currentPage < pager.totalPages" class="page-item">
                    <a class="page-link" :data-page="pager.currentPage + 1">Next</a>
                </li>
                <li v-if="pager.currentPage < pager.totalPages" class="page-item">
                    <a class="page-link" :data-page="pager.totalPages">Last</a>
                </li>
            </ul>
        </div>
    </nav>-->
</script>